@import "../mixins.scss";

.miner {
    position: relative;
    height: 848px;
    margin-top: 70px;
    @include mobile {
        left: -190px;
    }
    .global-img {
        @include mobile {
            display: none;
        }
    }
    .undraw {
        position: absolute;
        right: 20px;
        bottom: 240px;
        @include mobile {
            display: none;
        }
    }
    .global-img-m {
        position: absolute;
        display: none;
        @include mobile {
            display: block;
            background-image: cover;
        }
    }
    .global-left {
        position: absolute;
        z-index: 99;
        top: 200px;
        left: 120px;
        @include mobile {
            left: 10px;
            top: 170px;
        }
        .welcome {
            @include flex(center, space-between);
            width: 260px;
            @include mobile {
                margin-top: 10px;
            }

            .line {
                border: 4px solid #cf1257;
                width: 94px;
                padding: 0;
                margin: 0;
                margin-right: 15px;
            }
            .welcome-title {
                font-family: "Hind";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #ffffff;
            }
        }
        .digital-title {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 120%;
            width: 500px;
            height: 116px;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            @include mobile {
                width: 243px;
                height: 72px;
                font-size: 30px;
                padding: 0;
            }
        }
        .digital-des {
            width: 556px;
            height: 27px;
            font-family: "Hind";
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 150%;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #ffffff;
            margin: 0;
            padding: 0;
            margin-top: 10px;
            @include mobile {
                width: 305px;
                height: 54px;
                font-size: 12px;
                padding: 0;
            }
        }
    }
    .global-numbers {
        @include flex(center, space-between);
        margin-top: 20px;
        width: 750px;
        flex-wrap: wrap;
        @include mobile {
            width: 370px;
        }
        .number-item {
            width: 350px;
            height: 77px;
            background: #0b060c;
            box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
            border-radius: 38.5px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            @include mobile {
                font-size: 35px;
                margin-top: 10px;
            }
            .item-right {
                margin-left: 20px;
                .item-title {
                    font-family: "Hind";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                    margin: auto;
                }
                .item-des {
                    font-family: "Hind";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                    margin: auto;
                }
            }
            .item-title {
                font-family: "Hind";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 150%;
                /* identical to box height, or 27px */

                display: flex;
                align-items: center;
                letter-spacing: 0.02em;

                /* white */

                color: #ffffff;

                opacity: 0.7;
            }
        }
    }
    .miner-numberss {
        position: absolute;
        width: 500px;
        @include flex(center, space-between);
        margin-top: 40px;
        @include mobile {
            width: 350px !important;
            @include flex(center, space-around);
            margin-left: 0px !important;
        }
        .number-item {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 120%;
            align-items: center;
            letter-spacing: 0.02em;
            color: #ffffff;
            @include mobile {
                font-size: 35px;
            }
            .number-item-des {
                font-family: "Hind";
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #ffffff;
                opacity: 0.7;
            }
        }
        @include mobile {
            width: 370px;
            margin-top: 40px;
            margin-left: -25px;
            @include flex(center, space-between);
        }
    }
}

.digitall {
    position: relative;
    z-index: 99;
    height: 100%;
    width: 100%;
    @include flex(center, space-between);
    @include mobile {
        flex-direction: column-reverse;
        max-width: 450;
    }
    .digital-img {
        @include mobile {
            width: 322px;
            height: 309px;
            margin-top: 40px;
        }
    }
    .digital-right {
        // @include flex(center, flex-start);
        width: 55%;
        flex-direction: column;
        @include mobile {
            width: 90%;
        }
        .welcome {
            @include flex(center, space-between);
            width: 230px;
            @include mobile {
                margin-top: 35px;
            }

            .line {
                border: 4px solid #cf1257;
                width: 94px;
                padding: 0;
                margin: 0;
                margin-right: 15px;
            }
        }
        .digital-title {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 120%;
            width: 500px;
            height: 58px;

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;

            /* Dark blue */

            color: #090f3f;
            @include mobile {
                width: 243px;
                height: 36px;
                font-size: 30px;
                margin: 0;
                padding: 0;
            }
        }
        // .buttons {
        //     @include flex(center, space-between);
        //     margin-top: 30px;
        //     max-width: 750px;
        //     flex-wrap: wrap;

        //     .btn {
        //         width: 150px;
        //         height: 46px;
        //         left: 795px;
        //         top: 4726.73px;
        //         background-color: #ffffff;
        //         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        //         border-radius: 28px;
        //         font-family: "Hind";
        //         font-style: normal;
        //         font-weight: 600;
        //         font-size: 13px;
        //         line-height: 150%;
        //         @include flex(center, center);
        //         letter-spacing: 0.02em;
        //         text-transform: uppercase;
        //         color: #090f3f;
        //         @include mobile {
        //             margin-top: 35px;
        //         }
        //     }
        //     .btn-firts {
        //         width: 150px;
        //         height: 46px;
        //         left: 795px;
        //         top: 4726.73px;
        //         background-color: #f8ba1a;
        //         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        //         border-radius: 28px;
        //         font-family: "Hind";
        //         font-style: normal;
        //         font-weight: 600;
        //         font-size: 13px;
        //         line-height: 150%;
        //         @include flex(center, center);
        //         letter-spacing: 0.02em;
        //         text-transform: uppercase;
        //         color: #ffffff;
        //         @include mobile {
        //             margin-top: 35px;
        //         }
        //     }
        // }
        .android {
            @include flex(center, space-between);
            margin-top: 30px;
            max-width: 750px;
            flex-wrap: wrap;
            @include mobile {
                margin-top: 0px;
            }
            .android-item {
                width: 350px;
                height: 77px;
                background-color: #ffffff;
                box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
                display: flex;
                align-items: center;
                padding-left: 15px;
                .item-right {
                    margin-left: 20px;
                    .item-title {
                        font-family: "Hind";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.02em;
                        color: #090f3f;
                        margin: auto;
                    }
                    .item-des {
                        font-family: "Hind";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 150%;
                        display: flex;
                        align-items: center;
                        letter-spacing: 0.02em;
                        color: #4f4f4f;
                        margin: auto;
                    }
                }
                @include mobile {
                    margin-top: 35px;
                }
            }
        }
    }
}
